@import "tailwindcss";
/* Custom hover effect with content fade-in */
@layer components {
  .custom-card {
    position: relative;
    overflow: hidden;
  }

  .custom-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c5e0dc; /* Nice Yellow */
    transform: scaleY(0);
    transform-origin: center;
    transition: transform 0.6s ease-out, background-color 0.6s ease-out;
    opacity: 0;
  }

  .custom-card:hover::before {
    transform: scaleY(1);
    opacity: 1;
  }

  .custom-card:hover .content {
    opacity: 1;
    transform: translateY(0);
  }

  .content {
    opacity: 100;
    transform: translateY(10px); /* Content starts hidden and slightly below */
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }
}
  /* custom button hover effect */
.custom-button {
  position: relative;
  overflow: hidden;
  background-color: #0b486b;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.25rem 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-button .button-hover {
  position: absolute;
  inset: 0;
  width: 50%;
  background-color: black;
  transform: translateX(0%);
  transition: transform 0.5s ease;
}

.custom-button:hover .button-hover {
  transform: translateX(101%);
}

.custom-button .button-text {
  position: relative;
  z-index: 10;
}
